<table class="tableblock frame-all grid-all stretch">
   <colgroup>

   </colgroup>
   <thead>
      <tr>
         <th class="tableblock halign-left valign-top">Type</th>
         <th class="tableblock halign-left valign-top">Description</th>
      </tr>
   </thead>
   <tbody>
<tr>
<td class="tableblock halign-left valign-top">
<p class="tableblock" style="height: 19px"><strong>Presentation Tier</strong></p></td>
<td class="tableblock halign-left valign-top">
<p class="tableblock">The presentation tier consists of <strong>Windows Presentation 
Foundation</strong> to develop the UI and <strong>Microsoft .NET Framework</strong> as the software 
framework. </p>
</td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" style="height: 21px"><p class="tableblock">
<strong>Application 
Tier</strong></p></td>
<td class="tableblock halign-left valign-top" style="height: 21px">
<p class="tableblock">The application tier consists of system logic and back-end 
data processing and uses C#/ ASP.NET. </p>
</td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data Tier</strong></p></td>
<td class="tableblock halign-left valign-top">
<p>The data tier supports both <strong>Oracle</strong> and <strong>MSSQL</strong> as 
<em>RDBMS</em>. Requires <strong>NHibernate</strong> which is an <em>Object Relational Mapper</em> (ORM).</p>
</td>
</tr>
</tbody>
</table>