<table class="tableblock frame-all grid-all stretch">
   <colgroup>

   </colgroup>
   <thead>
      <tr>
         <th class="tableblock halign-left valign-top">Type</th>
         <th class="tableblock halign-left valign-top">Description</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="tableblock halign-left valign-top">
            <p class="tableblock"><strong>System Requirements</strong></p>
         </td>
         <td class="tableblock halign-left valign-top">
            <ul>
               <li>
                  <p class="tableblock"><strong>Operating System</strong>: Windows, Windows Server </p>
               </li>
               <li>
                  <p class="tableblock"><strong>Processor</strong>: Core 2 Duo or Athlon X2 at 2.4 GHz or higher
                  </p>
               </li>
               <li>
                  <p class="tableblock"><strong>Memory</strong>: 4+GB RAM, 2+GB free hard disk space</p>
               </li>
            </ul>
         </td>
      </tr>
      <tr>
         <td class="tableblock halign-left valign-top">
            <p class="tableblock"><strong>Software Requirements</strong></p>
         </td>
         <td class="tableblock halign-left valign-top">
            <ul>
               <li>
                  <p class="tableblock">.NET Framework</p>
               </li>
               <li>
                  <p class="tableblock">MS Office (for integration purpose and report generation)</p>
               </li>
            </ul>
         </td>
      </tr>
      <tr>
         <td class="tableblock halign-left valign-top">
            <p class="tableblock"><strong>Development Tools</strong></p>
         </td>
         <td class="tableblock halign-left valign-top">
            <ul>
               <li><strong>Subversion (SVN) client</strong>: Tortoise SVN
               </li>
               <li><strong>IDE</strong>: Visual Studio Professional/ Ultimate</li>
               <li>DevExpress controls for Visual Studio </li>
			   <li>VisualSVN addon to Visual Studio </li>
               <li><strong>Database Management System</strong>: Oracle/ MS SQL Server</li>
            </ul>
         </td>
      </tr>
   </tbody>
</table>