<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Value</th>
<th class="tableblock halign-left valign-top">Used by</th>
<th class="tableblock halign-left valign-top">Key</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>STD</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Default value used by</p>
<p class="tableblock">	* DY</p>
<p class="tableblock">	* WGN</p>
<p class="tableblock">	* PRO</p>
<p class="tableblock">	* BOSCO</p>
<p class="tableblock">	* AMP</p>
<p class="tableblock">	* VSL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em class="path">&lt;add key="TimesheetExcelFormat" value="STD"/&gt;</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>HRW1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3CM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;add key="TimesheetExcelFormat" value=" HRW1"/&gt;</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>HRW2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">* BARM</p>
<p class="tableblock">* AGH</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;add key="TimesheetExcelFormat" value=" HRW2"/&gt;</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>HRW3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EIFM (old)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;add key="TimesheetExcelFormat" value=" HRW3"/&gt;</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>HRW4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EIFM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;add key="TimesheetExcelFormat" value=" HRW4"/&gt;</p></td>
</tr>
</tbody>
</table>